/* MAIN SECTION STYLING */
main {
  padding: 1em;
}

/* FOOTER STYLING */
footer {
  padding: 1em;
}

@media only screen and (min-width: 950px) {
  main, footer {
    max-width: 50em;
    margin: 0 auto;
  }

  footer {
    text-align: center;
  }

  [class^="icon-"], [class*=" icon-"] {
  margin-left: -1em;
  }

  /*  THERE SHOULD BE A BETTER WAY TO CLEAR */
  section {
    clear: both;
  }

}
